
<form method="post"> 
    <input type="text" name="CategoryName" placeholder="Name AZ"/>
    <input type="text" name="CategoryName" placeholder="Name RU"/>
    <input type="text" name="CategoryName" placeholder="Name Eng" />
    <input type="hidden" name="LangCode" value="Az"/>
    <input type="hidden" name="LangCode" value="Ru" />
    <input type="hidden" name="LangCode" value="Eng" />
    <br/>
    <input type="text" name="PhotoUrl"/>
    <br/>
    <input type="submit" name="Create" />

</form>
